<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src = '/app/assets/javascripts/application.js'> </script>

<% @instagram.each do |x|%>
<img src='<%= x['url'] %>'></img>
<% end %>

<h1>NY TIMES</h1>
<% @nyt.each do |x| %>
<dl>
  <dt><a href ="<%= x['url'] %>"><%= x['title'] %></a></dt>
  <dd><%= x["abstract"] %></dd>
  <dd><%= x["published_date"]%></dd>
</dl>
<% end %>

<h1>THE GUARDIAN</h1>
<% @guardian.each do |x| %>
<dl>
  <dt><a href ="<%= x['weburl'] %>"><%= x["webtitle"] %></a></dt>
  <dd><%= x["webPublicationDate"] %></dd>
</dl>
<% end %>

<h1>NPR</h1>
<% @npr.each do |x| %>
<dl>
  <dt><a href = "<%=x['link']%>"> <%= x['title']%></a> </dt>
  <dd><%= x['teaser']%></dd>
</dl>
<% end %>

<h1>USA Today</h1>
<% @usa.each do |x| %>
<dl>
  <dt><a href = "<%=x['link']%>"> <%= x['title']%></a> </dt>
  <dd><%= x['description'] %></dd>
</dl>
<% end %>

<h1>YOUTUBE</h1>
<% @youtube.each do |x| %>
<%= x['embedhtml'].html_safe%>
<% end %>

<h1>YOUTUBE</h1>
