<!DOCTYPE html>
<html>
<head>
  <meta property="og:image" content="https://imgur.com/uHZ8TT9" />
  <title>One News Stand</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/assets/materialize.js" type="text/javascript"> </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript">stLight.options({publisher: "93a028dc-a8a1-4acc-ae99-e65ed1f0a424", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>
  <nav id="session"><span class="emph">ONE</span> NEWS STAND <span class="date" >Updated On The Hour</span></nav>
  <%= yield %>
<footer class="page-footer" style="line-height: 0px">
    <div class="footer-copyright" >
      <div class="container" >
          <div class="col l6 s12">
            <p class="cr" style="line-height: 0px;">&copy; 2015 One News Stand</p>
          </div>
      </div>
    </div>
</footer>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-65221600-1', 'auto');
 ga('send', 'pageview');

</script>
</body>
</html>
